$bg-color-dark: #2E3440
$border-color: #D8DEE9

@import "about"
@import "hamburger"

.header
  display: flex
  justify-content: space-between
  align-items: center

  padding: .3em
  border: solid $border-color
  border-width: 0 0 1px 0
  min-width: 500px

  .logo
    font-size: 1.4em
    font-weight: bold

.navbar
  display: flex

  ul
    padding: 0 .5em

    .navbar-item
      display: inline
      margin: 0 0.5em


#layout
  display: grid
  grid-template-columns: 75px auto 75px
  justify-content: center
  height: 100vh

  .body-content
    padding: 1em


.aside-container
  display: flex
  justify-content: center
  padding: 0 0.5em

  .container
    position: relative
    margin: 1em

  .aside-left
    position: absolute
    display: flex
    flex-direction: column
    justify-items: center
    justify-content: space-between
    border-right: 1px solid $border-color
    height: 100vh
    z-index: 100


  .aside-right
    border-left: 1px solid $border-color

  .navigation-item
    top: 20px
    left: 0
    width: 50px
    height: 50px

.container
  max-width: 900px
  margin: auto

.screen-container
  min-height: 100vh
  width: 100vw
  display: flex
  justify-content: center

.dropdown-menu
  display: flex
  justify-content: center
  position: fixed
  background-color: #8FBCBB
  max-height: 0
  overflow: hidden
  transition: 700ms
  z-index: 99

.dropdown-menu-active
  max-height: 100%


.navigation-menu
  display: flex
  flex-direction: column
  font-size: 1.7rem

  li
    color: #fff

  li:hover
    color: $bg-color-dark !important

.icons:hover
  fill: #191932


@media (max-width: 700px)
  #layout
    grid-template-columns: 100%

  .aside-container
    display: none