.project-container
	display: flex
	margin: 4em 0

.item-card
	border-radius: .5em
	overflow: clip
	max-width: 300px
	border: solid 1px $border-color

	hr
		margin: 0.5em 0
	img
		max-width: 100%
		object-fit: cover

	.content
		padding: 0.5em 0.5em
		.title
			font-size: 1.3em
			font-weight: bold

.tag-list
	display: flex
	justify-content: flex-end
	gap: 0.2em
	margin: 0.5em

.tag
	border: none
	border-radius: 4px
	background-color: #FF2442
	padding: 0.1em 0.4em
	font-size: 0.8em
	color: #fff

	user-select: none
